---
import { cn } from "@/utils";

interface CardTitleProps {
  className?: string;
}

const { className = "", ...rest } = Astro.props;
---

<div
  data-slot="card-title"
  class={cn("font-heading leading-none", className)}
  {...rest}
>
  <slot />
</div>

