---
import { cn } from "@/utils";

interface CardProps {
  className?: string;
}

const { className = "", ...rest } = Astro.props;
---

<div
  data-slot="card"
  class={cn(
    "rounded-base flex flex-col shadow-shadow border-2 gap-6 py-6 border-border bg-background text-foreground font-base",
    className
  )}
  {...rest}
>
  <slot />
</div>
